/* Start Header */

#topHeader {
    border-bottom: 1px solid #ebebeb;
}

#topHeader a {
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.0rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}

.logoimg {
    width: 120px;
}

.bottomimg {
    width: 210px;
}


/* End Header */


/* Start Footer */

.full-footer {
    background-color: #243c4f;
}

.top-footer p {
    color: white;
}

.top-footer a {
    color: white;
    font-weight: 600;
    /*it makes the text bolder*/
}

.top-footer h3 {
    color: white;
}

.bottom-footer {
    background-color: #19232e;
}

.bottom-footer p {
    color: white;
}


/* End Footer */


/* Start Top Section */

.top-hero-section {
    background-color: #3498db;
    color: white;
}

.top-hero-section a {
    color: white;
    font-weight: 600;
}


/* End Top Section */


/* Start Middle Section */

.quality-img {
    width: 200px;
}


/* End Middle Section */


/* START Third Section */

.requirements-section {
    background-color: #004d80;
    color: white;
}


/* END Third Section */


/* START Fifth Section */

.homenewsletter-section {
    background-color: #004d80;
    color: white;
}

.homenewsletter-section .form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.homenewsletter-section .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}


/* END Fifth Section */


/* START Sixth Section */

.client-section {
    background-color: #f0f0f0;
}


/* EnD Sixth Section */


/* START OF ABOUT US PAGE */

.breadcrumbs-section {
    background-color: #e9ecef;
}


/* END OF ABOUT US PAGE */


/*  START OF PORTFOLIO GET Started SECTION*/

.started-section {
    background-color: #004d80;
    color: white;
}


/*  END OF PORTFOLIO GET Started SECTION*/