.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
    line-height: 1.42857143;
    color: #333;
}

.body {
    font-weight: 300;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.tabs {
    width: 100%;
    display: inline-block;
}

* {
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

ul.tab-links {
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.element {
    height: 85px;
    margin-bottom: 5px;
}

.tab-content-search {
    padding: 15px 15px 0 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #F5AD5B;
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 6px 11px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #EAE5DC;
    font-size: 12px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
    text-decoration: none !important;
}

.tab-links li {
    list-style: none;
}

li.active a,
li.active a:hover {
    background: #F5AD5B;
    color: #4c4c4c;
}

.tab-links::after {
    display: block;
    clear: both;
    content: '';
}

::after,
 ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.element {
    color: #4c4c4c;
    /* font-weight: bold; */
    margin-right: 5px;
    font-size: 0.8em;
    text-align: right;
}

.glyphicon-question-sign::before {
    content: "\e085";
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-question-sign::before {
    content: "\e085";
}

.element {
    color: #FFF;
    font-size: 14px;
    margin-right: 5px;
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.element.style {
    color: #4c4c4c;
    /* font-weight: bold; */
    margin-right: 5px;
}

.element.style {
    color: #4c4c4c;
    /* font-weight: bold; */
    margin-right: 5px;
    font-size: 0.8em;
    text-align: right;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    /* background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%); */
    /* background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%); */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0)); */
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    /* border-color: #dbdbdb; */
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-color: #fff;
    /* border-color: #ccc; */
}

.a {
    color: #337ab7;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    /* vertical-align: middle; */
    /* -ms-touch-action: manipulation; */
    touch-action: manipulation;
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    /* background-image: none; */
    /* border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; */
    border-radius: 4px;
}

.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, .2); */
    /* -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

html {
    font-size: 10px;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

ul.tab-links {
    margin-bottom: 0;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
    display: table;
    content: " ";
}